:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

@media screen and (min-width: 927px) {
  .menu {
    width: 770px;
    height: 66px;
    margin: 20px auto;
    position: relative;
  }
  nav ul {
    list-style: none;
  }
  nav li {
    float: left;
  }
  nav li a {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 25px 70px 0 0;
  }

  nav li:nth-child(2) {
    margin-right: 200px;
  }

  nav li:nth-child(4) a {
    margin-right: 40px;
  }

  nav li:nth-child(1n + 3) a {
    text-align: right;
  }

  .logo {
    width: 20%;
    max-width: 100%;
    left: 335px;
    padding-top: 50px;
  }
}
/* .logo {
  width: 100px;
  height: 64px;
  background-image: url(images/logo-mangata.svg);
  background-size: 100px 64px;
  position: absolute;
  left: 335px;
} */
