:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

@media screen and (min-width: 900px) {

  .menu {
    width: 970px;
    height: 66px;
    margin: 20px auto;
    position: relative;
  }

  .logo {
    width: 20%;
    max-width: 100%;
    left: 335px;
    padding-top: 18px;
  }

  
}

/* 
============================================================================================================ */
@media screen and (min-width: 927px) and (max-width: 900px) {
  .menu {
    width: 770px;
    height: 66px;
    margin: 20px auto;
    position: relative;
  }
  nav ul {
    list-style: none;
  }
  nav li {
    float: left;
  }
  nav li a {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 25px 70px 0 0;
  }

  nav li:nth-child(2) {
    margin-right: 200px;
  }

  nav li:nth-child(4) a {
    margin-right: 40px;
  }

  nav li:nth-child(1n + 3) a {
    text-align: right;
  }

  .logo {
    width: 20%;
    max-width: 100%;
    left: 335px;
    padding-top: -180px;
  }


  
}


/* 
============================================================================================================ */
@media screen and (min-width: 768px) {
  .menu {
    width: 770px;
    height: 66px;
    margin: 20px auto;
    position: relative;
  }
  nav ul {
    list-style: none;
  }
  nav li {
    float: left;
  }
  nav li a {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 25px 70px 0 0;
  }

  nav li:nth-child(2) {
    margin-right: 200px;
  }

  nav li:nth-child(4) a {
    margin-right: 40px;
  }

  nav li:nth-child(1n + 3) a {
    text-align: right;
  }

  .logo {
    width: 20%;
    max-width: 100%;
    left: 335px;
    padding-top: 0px;
  }

  .botao {
    max-width: 55%;
    margin: 0 auto;
  }

  .star-back {
    /* background: url("../images/sobre-back.png") no-repeat right top fixed; */
    background-image: url("../images/sobre-back.png");
    background-repeat: no-repeat;
    /* width: 100vw; */
    background-size: 100%;
    margin-top: -55px;

    
  }

  .footer-back {
    /* background: url("../images/sobre-back.png") no-repeat right top fixed; */
    background-image: url("../images/footer-back.png");
    background-repeat: no-repeat;
    /* width: 100vw; */
    background-size: 100%;
    /* margin-top: -55px; */

    
  }

  

  
  .horarios {
    width: 70%;
    /* max-width: 10%; */
  }

  
}


/* 
============================================================================================================ */
@media screen and (min-width: 725px) {
  .logo {
    width: 20%;
    max-width: 100%;
    left: 335px;
    padding-top: 0px;
  }

  .botao {
    max-width: 17%;
    /* margin: 20px 0 auto; */
    /* align-items: center; */
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    background: url(../images/footer-back.png) center no-repeat;
    background-repeat: no-repeat;
    background-color: black;
    /* width: 100vw; */
    height: 100%;
    background-size: 110%;
    /* display: flex; */
    /* position: absolute; */
  }

  .saiba-mais-botao {
    max-width: 40%;
  }


  .cobrir {
    margin-top: -80px;
    margin-left: 30%;
    z-index: 99999;
    width: 30%;
    position: absolute;
  }
  

  
}
/* 
============================================================================================================ */
@media screen and (min-width: 320px) and (max-width: 725px) {
  .logo {
    width: 40%;
    max-width: 100%;
    left: 335px;
    padding-top: 0px;
  }

  .botao {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .star-back {
    /* background: url("../images/sobre-back.png") no-repeat right top fixed; */
    background-image: url("../images/sobre-back-mibile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -57px;
    
  }
/* 
  .footer-back {
    background: url("../images/sobre-back.png") no-repeat right top fixed; */
    /* background-image: url("../images/footer-back-mobile.png"); */
    /* background-repeat: no-repeat; */
    /* width: 100vw; */
    /* background-size: 100%; */
    /* margin-top: -55px;

    
  } */

  footer {
    /* background-image: url(../images/footer-back.png) center no-repeat; */
    background: url(../images/footer-back-mobile.png) center no-repeat;
    background-repeat: no-repeat;
    background-color: black;
    /* width: 100vw; */
    height: 100%;
    background-size: 100%;
    /* display: flex; */
    /* position: absolute; */
  }

  
  .empresas {
    margin-top: 30px;
  }


  
  .cobrir {
    margin-top: -38px;
    z-index: 99999;
    position: absolute;
    height: 9%;
  }

  .star-sobre {
    padding-top: 13px;
  }

  /* .lol2 {
    z-index: 99999;
    width: 30%;
    position: absolute;
  
  } */

}



/* .logo {
  width: 100px;
  height: 64px;
  background-image: url(images/logo-mangata.svg);
  background-size: 100px 64px;
  position: absolute;
  left: 335px;
} */


.lol {
  position: relative;
  /* z-index: -2; */
  /* margin-top: -50px; */
  /* animation: z 0.1s forwards;
  animation-delay: 0.1s; */
}



/* .lol3 {
  position: relative;
  z-index: 2;
  margin-top: -50px;
} */




.cardapio {
  max-width: 30%;
  margin-top: -70px;

}

.fale-conosco {
  max-width: 60%;
  margin-top: 40px;

}

.empresas ul {
  max-width: 100%;
  list-style: none;
  display: flex;
  /* justify-content: center; */
}

.empresas li {
  /* max-width: 300%; */
  margin: auto;
  /* list-style: none;
  
  display: flex;
  justify-content: center; */
}

.parallax {
  /* The image used */
  background-image: url("../images/tasteful-recipes.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.star-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.star-modal:target {
  opacity: 1;
  pointer-events: auto;
}

.star-modal > div {
  overflow: auto;
  width: 90%;
  height: 90vh;
  position: relative;
  margin: 2% auto;
  /* padding: 010px; */
  background: #fff;
}

.fechar {
  position: absolute;
  z-index: 999;
  width: 30px;
  right: 4%;
  top: 10px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: var(--orange);
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
}

.star-galeria {
  padding: 0 15px;
}



/* 
@keyframes z {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateZ(3rem);
  }
} */